[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=JPEXS Free Flash Decompiler
Comment=Decompiler and editor of Flash SWF files
Exec=ffdec.sh
Icon=com.jpexs.decompiler.flash
Categories=Development;Network;Utility;WebDevelopment;Java
X-Purism-FormFactor=Workstation;
